@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* Apply the font to your body or specific elements */
body {
  font-family: 'Inter', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.text-day {
  color: #214177;
}

.text-day-light {
  color: #3667A6;
}

.text-night {
  color: #BDD8F1;
}

.text-night-light {
  color: #82A6CB;
}



.item-night {
  background-color: #5584AC;
}

.item-day {
  background-color: #25316D;
}

.hr-night {
  height: 0px;
  border: 0 0 1px 0;
  border-color: #BDD8F1;
}

.hr-day {
  height: 0px;
  border: 0 0 1px 0;
  border-color: #25316D;
}

.social-icon svg {
  fill: #3667A6; /* default color */
  transition: fill 0.5s; /* smooth transition for the fill color */
}

.social-icon:hover svg {
  fill: #214177; /* color on hover */
}

.social-icon-night svg {
  fill: #82A6CB; /* default color */
  transition: fill 0.5s; /* smooth transition for the fill color */
}

.social-icon-night:hover svg {
  fill: #BDD8F1; /* color on hover */
}

.menu-bg-night {
  background-color: #214177; /* Your desired background color for the menu */
  z-index: 1;
}

.menu-bg-day {
  background-color: #82A6CB; /* Your desired background color for the menu */
  z-index: 1;
}

.menu-text-night {
  color: #82A6CB;
  z-index: 1;
}

.menu-text-day {
  color: #214177;
  z-index: 1;
}


.highlighted {
  color: #4285f4; /* Highlight color for active section button */
}

.section {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.filter-day {
  filter: brightness(0.5) saturate(0.6) sepia(0.4) grayscale(0.3) hue-rotate(360deg); /* Example filter, adjust as needed */
}

.filter-night {
  filter: brightness(0.3) saturate(0.3) sepia(0.8) grayscale(0.7) hue-rotate(0deg); /* Example filter, adjust as needed */
}


.skill-icon:hover img {
  filter: none;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.tag-day {
  background-color: #82a6cb;
  color: #214177;
}


.tag-night {
  background-color: #82A6CB;
  color: #25316D;
}


.projectButton-day {
  background-color: transparent;
  color: #3667A6;
  border-width: 3px;
  border-color: #3667A6;
  border-radius: 7px;
  font-weight: bold;
}

.projectButton-night {
  background-color: transparent;
  color: #82A6CB;
  border-width: 3px;
  border-color: #82A6CB;
  border-radius: 7px;
  font-weight: bold;
}

.skill-item {
  width: 27%;
}

.marginTopForSmallScreen {
  margin-top: windowHeight; /* Replace with the actual value or a CSS variable */
}

@media screen and (min-width: 1024px) { /* Adjust the breakpoint as needed */
  .marginTopForSmallScreen {
    margin-top: 0;
  }
}

.destMenuShow {
  scale: 10000%;
}

.destMenuHidden {
  scale: 0%;
}

.hover-parent:hover svg {
  transform: translateX(145px);
}